Cpu.json
[{"id":"b76f9864.f74b78","type":"comment","z":"dbd47c6.5407","name":"Read Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":210,"y":60,"wires":[]},{"id":"ddef3aff.729948","type":"debug","z":"dbd47c6.5407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":60,"wires":[]},{"id":"2ad63aa9.79acae","type":"ui_text","z":"dbd47c6.5407","group":"3bef9eed.fcbcfa","order":1,"width":0,"height":0,"name":"Date Time","label":"","format":"{{msg.payload}}","layout":"row-center","x":590,"y":147,"wires":[]},{"id":"cd7d9abf.c3398","type":"exec","z":"dbd47c6.5407","command":"date +\"%Y-%m-%d %H:%M:%S\"","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"CurDate","x":340,"y":167,"wires":[["2ad63aa9.79acae","ddef3aff.729948"],[],[]]},{"id":"ed557cf0.5aa9b","type":"inject","z":"dbd47c6.5407","name":"showdt","topic":"CPU-Info","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":"","x":120,"y":240,"wires":[["bd3cb62d.b45338","6c02c997.eb21e8"]]},{"id":"bd3cb62d.b45338","type":"cpu","z":"dbd47c6.5407","name":"","msgCore":true,"msgOverall":false,"x":350,"y":227,"wires":[["54d81c3a.42bf2c","3711b44b.fd57cc"]]},{"id":"54d81c3a.42bf2c","type":"ui_chart","z":"dbd47c6.5407","name":"","group":"3bef9eed.fcbcfa","order":2,"width":0,"height":0,"label":"CPU Usage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":207,"wires":[[]]},{"id":"6c02c997.eb21e8","type":"Memory","z":"dbd47c6.5407","name":"memusage","x":350,"y":300,"wires":[["8e8be371.ff9d38","f9534e7f.49d6b"]],"outputLabels":["{memusage}"]},{"id":"3711b44b.fd57cc","type":"ui_chart","z":"dbd47c6.5407","name":"","group":"3bef9eed.fcbcfa","order":1,"width":0,"height":0,"label":"CPUs-Core Usage","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":247,"wires":[[]]},{"id":"8e8be371.ff9d38","type":"ui_template","z":"dbd47c6.5407","group":"bbe6aef3.749868","name":"Show_Memory","order":1,"width":0,"height":0,"format":"<div ng-repeat=\"x in msg.payload\"></div>\n<p style=\"border:2px solid Gray\"><b style=\"background-color:rgb(180, 180, 180);\">Total-Memory :</b> {{msg.payload.totalmem/1000000 +\" MB\"}}</p>\n<p style=\"border:2px solid Blue;\"><b style=\"background-color:rgb(0, 0, 255);\">Free-Memory :</b> {{msg.payload.freemem/1000000 +\" MB\"}}</p>\n<p style=\"border:2px solid Tomato;\"><b style=\"background-color:rgb(255, 65, 71);\">Memory-Usage :</b> {{msg.payload.memusage +\" %\"}}</p>\n<div></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":327,"wires":[[]]},{"id":"f9534e7f.49d6b","type":"ui_gauge","z":"dbd47c6.5407","name":"","group":"bbe6aef3.749868","order":2,"width":0,"height":0,"gtype":"gage","title":"Mem-Usage","label":"%","format":"{{msg.payload.memusage}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","x":630,"y":367,"wires":[]},{"id":"a293f14a.653ab","type":"inject","z":"dbd47c6.5407","name":"","topic":"clsmem","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":367,"wires":[["6fd9b00c.080a48"]]},{"id":"e91c3419.c6bf38","type":"exec","z":"dbd47c6.5407","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clear Mem","x":410,"y":460,"wires":[[],[],[]]},{"id":"6fd9b00c.080a48","type":"ui_button","z":"dbd47c6.5407","name":"","group":"3bef9eed.fcbcfa","order":0,"width":0,"height":0,"passthru":false,"label":"Clear Mem","color":"","bgcolor":"","icon":"admin","payload":"echo 1 > /proc/sys/vm/drop_caches ; sync","payloadType":"str","topic":"","x":390,"y":367,"wires":[["e91c3419.c6bf38"]]},{"id":"94cbb824.36c01","type":"inject","z":"dbd47c6.5407","name":"","topic":"ShowDT","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":167,"wires":[["cd7d9abf.c3398"]]},{"id":"2bfa99c5.2983e6","type":"ui_gauge","z":"dbd47c6.5407","name":"","group":"bbe6aef3.749868","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":650,"y":440,"wires":[]},{"id":"3dbb229d.4d4926","type":"debug","z":"dbd47c6.5407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":540,"wires":[]},{"id":"25fd3324.71b664","type":"inject","z":"dbd47c6.5407","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["579332fd.09ed34"]]},{"id":"579332fd.09ed34","type":"exec","z":"dbd47c6.5407","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPUTemp","x":260,"y":540,"wires":[["7ebdf576.741754"],[],[]]},{"id":"7ebdf576.741754","type":"function","z":"dbd47c6.5407","name":"Otemp","func":"temp = {};\nrawTemp=(msg.payload*0.001);\ntemp.payload = rawTemp.toFixed(2);\nreturn temp;","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["2bfa99c5.2983e6"]]},{"id":"3bef9eed.fcbcfa","type":"ui_group","z":"","name":"CPUs-Core","tab":"fb2aaec2.57fc5","order":3,"disp":true,"width":"6","collapse":false},{"id":"bbe6aef3.749868","type":"ui_group","z":"","name":"Memory_Status","tab":"fb2aaec2.57fc5","order":1,"disp":true,"width":"6","collapse":true},{"id":"fb2aaec2.57fc5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]