PZEM-Soil1-7-flows.json
[{"id":"aeff2036.e5ec3","type":"debug","z":"dfa1b187.9ee05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":100,"wires":[]},{"id":"64e49d8e.174d74","type":"modbus-read","z":"dfa1b187.9ee05","name":"Read Soil Sensors","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"7","dataType":"InputRegister","adr":"0","quantity":"10","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"c44f270a.ad1e88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":80,"wires":[["4cb479a8.eae7b8"],["aeff2036.e5ec3","c3fc7ed5.75ddc"]]},{"id":"b148c2d2.b5c51","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R0","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":20,"wires":[]},{"id":"4cb479a8.eae7b8","type":"debug","z":"dfa1b187.9ee05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"c3fc7ed5.75ddc","type":"function","z":"dfa1b187.9ee05","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nA1 = msg.payload.data[0]\nA2 = msg.payload.data[1]\nA3 = msg.payload.data[2]\nA4 = msg.payload.data[3]\nA5 = msg.payload.data[4]\nA6 = msg.payload.data[5]\nA7 = msg.payload.data[6]\nA8 = msg.payload.data[7]\nA9 = msg.payload.data[8]\nA10 = msg.payload.data[9]\n\n\nvar msg1 = { payload:A1};\nvar msg2 = { payload:A2};\nvar msg3 = { payload:A3};\nvar msg4 = { payload:A4};\nvar msg5 = { payload:A5};\nvar msg6 = { payload:A6};\nvar msg7 = { payload:A7};\nvar msg8 = { payload:A8};\nvar msg9 = { payload:A9};\nvar msg10 = { payload:A10};\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10 ];\n","outputs":"10","noerr":0,"x":340,"y":200,"wires":[["b148c2d2.b5c51"],["8e1c2aaf.44d568"],["ce4f967.6812368"],["6ea9e7c5.8d0558"],["bd7f5bd4.059e68"],["a7ece841.a1e468"],["9584f91e.990ad8"],["fcaa71c1.4541c"],["c18f0795.2176b8"],["df2397d4.11d138"]]},{"id":"8e1c2aaf.44d568","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":60,"wires":[]},{"id":"ce4f967.6812368","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":100,"wires":[]},{"id":"6ea9e7c5.8d0558","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R3","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":140,"wires":[]},{"id":"bd7f5bd4.059e68","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":180,"wires":[]},{"id":"a7ece841.a1e468","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R5","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":220,"wires":[]},{"id":"9584f91e.990ad8","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R6","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":260,"wires":[]},{"id":"fcaa71c1.4541c","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R7","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":300,"wires":[]},{"id":"c18f0795.2176b8","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R8","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":340,"wires":[]},{"id":"df2397d4.11d138","type":"ui_text","z":"dfa1b187.9ee05","group":"30c35b73.c5bda4","order":0,"width":0,"height":0,"name":"","label":"R9","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":380,"wires":[]},{"id":"c64e90ba.8f542","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R0 Voltage Value","format":"{{msg.payload}} V","layout":"row-spread","x":630,"y":420,"wires":[]},{"id":"99f7aa5a.4e89e8","type":"function","z":"dfa1b187.9ee05","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nA1 = msg.payload.data[0] / 10   //0.1 V\nA2 = msg.payload.data[1] / 1000 //mA  \nA3 = msg.payload.data[2]\nA4 = msg.payload.data[3] / 10   //0.1w \nA5 = msg.payload.data[4]\nA6 = msg.payload.data[5]        // 1wH\nA7 = msg.payload.data[6]\nA8 = msg.payload.data[7] / 10   //0.1Hz\nA9 = msg.payload.data[8] / 100  // 0.01pf\nA10 = msg.payload.data[9]       // Alarm\n\n\nvar msg1 = { payload:A1};\nvar msg2 = { payload:A2};\nvar msg3 = { payload:A3};\nvar msg4 = { payload:A4};\nvar msg5 = { payload:A5};\nvar msg6 = { payload:A6};\nvar msg7 = { payload:A7};\nvar msg8 = { payload:A8};\nvar msg9 = { payload:A9};\nvar msg10 = { payload:A10};\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10 ];\n","outputs":"10","noerr":0,"x":320,"y":540,"wires":[["c64e90ba.8f542"],["96ec7793.13d898"],["6dfae14.820932"],["ebbad4f7.26cff8"],["8558fcd0.f6887"],["170368f4.abeb97"],["767bf5c8.c9d58c"],["1a1aaaf7.a9f425"],["8634d1d5.253ce"],["4c4915a1.81f84c"]]},{"id":"96ec7793.13d898","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R1 Current Value LSB","format":"{{msg.payload}} mA","layout":"row-spread","x":640,"y":460,"wires":[]},{"id":"6dfae14.820932","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R2 Current Value MSB","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":500,"wires":[]},{"id":"ebbad4f7.26cff8","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R3 Power Value LSB","format":"{{msg.payload}} Watts","layout":"row-spread","x":640,"y":540,"wires":[]},{"id":"8558fcd0.f6887","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R4 Power Value MSB","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":580,"wires":[]},{"id":"170368f4.abeb97","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R5 Energy Value LSB","format":"{{msg.payload}} Wh","layout":"row-spread","x":640,"y":620,"wires":[]},{"id":"767bf5c8.c9d58c","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R6 Energy Value MSB","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":660,"wires":[]},{"id":"1a1aaaf7.a9f425","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R7 Frequency Value ","format":"{{msg.payload}} Hz","layout":"row-spread","x":640,"y":700,"wires":[]},{"id":"8634d1d5.253ce","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R8 Power Factor Value","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":740,"wires":[]},{"id":"4c4915a1.81f84c","type":"ui_text","z":"dfa1b187.9ee05","group":"ad46eea3.04491","order":0,"width":0,"height":0,"name":"","label":"R9 Alarm Status ","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":780,"wires":[]},{"id":"97e209d3.7dcbd8","type":"modbus-read","z":"dfa1b187.9ee05","name":"Electic Power","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"51","dataType":"InputRegister","adr":"0","quantity":"10","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"bc5c4f3d.aca0a","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":520,"wires":[[],["99f7aa5a.4e89e8"]]},{"id":"10eecda0.7d6fd2","type":"function","z":"dfa1b187.9ee05","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nA1 = msg.payload.data[0]\nA2 = msg.payload.data[1]\nA3 = A1* 0.1 ;\nA4 = A2* 0.1 ;\n//A5 = msg.payload.data[4]\n//A6 = msg.payload.data[5]\n//A7 = msg.payload.data[6]\n//A8 = msg.payload.data[7]\n//A9 = msg.payload.data[8]\n//A10 = msg.payload.data[9]\n\n\nvar msg1 = { payload:A1};\nvar msg2 = { payload:A2};\nvar msg3 = { payload:A3};\nvar msg4 = { payload:A4};\n//var msg5 = { payload:A5};\n//var msg6 = { payload:A6};\n//var msg7 = { payload:A7};\n//var msg8 = { payload:A8};\n//var msg9 = { payload:A9};\n//var msg10 = { payload:A10};\n\n\nreturn [ msg1, msg2, msg3, msg4 ];\n","outputs":4,"noerr":0,"x":320,"y":780,"wires":[["90b3e8a9.c09038"],["1e996606.99c82a"],["11878caf.cece83"],["7393efb9.05f31"]]},{"id":"a9cdef64.49835","type":"modbus-read","z":"dfa1b187.9ee05","name":"Air Sensors","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"19","dataType":"InputRegister","adr":"2","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"e20d38e3.c9c138","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":720,"wires":[["b3b83bca.8df438"],["10eecda0.7d6fd2"]]},{"id":"11878caf.cece83","type":"ui_gauge","z":"dfa1b187.9ee05","name":"","group":"38a2f45e.7e789c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":840,"wires":[]},{"id":"7393efb9.05f31","type":"ui_gauge","z":"dfa1b187.9ee05","name":"","group":"38a2f45e.7e789c","order":0,"width":0,"height":0,"gtype":"gage","title":"Hum","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":880,"wires":[]},{"id":"b3b83bca.8df438","type":"debug","z":"dfa1b187.9ee05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":700,"wires":[]},{"id":"90b3e8a9.c09038","type":"ui_text","z":"dfa1b187.9ee05","group":"38a2f45e.7e789c","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":920,"wires":[]},{"id":"1e996606.99c82a","type":"ui_text","z":"dfa1b187.9ee05","group":"38a2f45e.7e789c","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":960,"wires":[]},{"id":"c44f270a.ad1e88","type":"modbus-client","z":"","name":"GW10","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.20","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB1","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"7","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"30c35b73.c5bda4","type":"ui_group","z":"","name":"7in1-ID7","tab":"5b50d3f1.64d93c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ad46eea3.04491","type":"ui_group","z":"","name":"PZEM51","tab":"5b50d3f1.64d93c","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc5c4f3d.aca0a","type":"modbus-client","z":"","name":"S912","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.20.212","tcpPort":"1502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"51","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e20d38e3.c9c138","type":"modbus-client","z":"","name":"GW20-10","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"19","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"38a2f45e.7e789c","type":"ui_group","z":"","name":"Temp","tab":"d25f87ca.84c488","disp":true,"width":"6","collapse":false},{"id":"5b50d3f1.64d93c","type":"ui_tab","z":"","name":"AC Power","icon":"dashboard","disabled":false,"hidden":false},{"id":"d25f87ca.84c488","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]