WaterUtikities-flows.json
[
    {
        "id": "93f455e7.3e1ec8",
        "type": "modbus-read",
        "z": "c00c57b0.49c178",
        "name": "Read Holding Registers",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "6",
        "rate": "500",
        "rateUnit": "ms",
        "server": "59d65086.534e8",
        "x": 140,
        "y": 240,
        "wires": [
            [],
            [
                "9cc68634.e77e38"
            ]
        ]
    },
    {
        "id": "9cc68634.e77e38",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": " Decode array",
        "func": "//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\ntank1Level = msg.payload.data[0]\ntank2Level = msg.payload.data[1]\ntank1Start = msg.payload.data[2]\ntank1Stop = msg.payload.data[3]\ntank2Start = msg.payload.data[4]\ntank2Stop = msg.payload.data[5]\n\nglobal.set(\"tank1Level\",tank1Level);\nglobal.set(\"tank2Level\",tank2Level);\nglobal.set(\"tank1Start\",tank1Start);\nglobal.set(\"tank1Stop\",tank1Stop);\nglobal.set(\"tank2Start\",tank2Start);\nglobal.set(\"tank2Stop\",tank2Stop);\n\ntank1HStp = (tank1Start - 15);\ntank1LStp = (tank1Stop + 15);\ntank2HStp = (tank1Start - 15);\ntank2LStp = (tank1Stop + 15);\n\nvar msg1 = { payload:tank1Level};\nvar msg2 = { payload:tank2Level};\nvar msg3 = { payload:tank1Start};\nvar msg4 = { payload:tank1Stop};\nvar msg5 = { payload:tank2Start};\nvar msg6 = { payload:tank2Stop};\nvar msg7 = { payload:tank1HStp};\nvar msg8 = { payload:tank1LStp};\nvar msg9 = { payload:tank2HStp};\nvar msg10 = { payload:tank2LStp};\n\n\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10 ];\n",
        "outputs": "10",
        "noerr": 0,
        "x": 164.78684997558594,
        "y": 361.7841491699219,
        "wires": [
            [
                "9fcc0fcc.b8427",
                "870c4c50.2682f",
                "571b66d7.195168",
                "161705bf.eef27a"
            ],
            [
                "33abe8b8.fa3298",
                "f0713fd1.726ee",
                "316ddcc8.0f1724",
                "86cd3e7e.7bb38"
            ],
            [
                "88f5cfdd.7d982"
            ],
            [
                "a568f68.932a908"
            ],
            [
                "85a2ec0e.7e38d"
            ],
            [
                "f0d738fe.556158"
            ],
            [
                "fdb11d4d.e472b"
            ],
            [
                "619a8036.6ba28"
            ],
            [
                "24f11172.9092ee"
            ],
            [
                "fc33f372.b44d2"
            ]
        ]
    },
    {
        "id": "22d5f45c.ab6a6c",
        "type": "modbus-server",
        "z": "c00c57b0.49c178",
        "name": "Modbus Server",
        "logEnabled": false,
        "hostname": "127.0.0.1",
        "serverPort": "502",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 1024,
        "holdingBufferSize": 1024,
        "inputBufferSize": 1024,
        "discreteBufferSize": "1024",
        "showErrors": false,
        "x": 297.00001525878906,
        "y": 1211.0000882148743,
        "wires": [
            [
                "a91b8a2e.6832f8"
            ],
            [
                "a91b8a2e.6832f8"
            ],
            [
                "a91b8a2e.6832f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a91b8a2e.6832f8",
        "type": "debug",
        "z": "c00c57b0.49c178",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 521.0000152587891,
        "y": 1211.0000882148743,
        "wires": []
    },
    {
        "id": "5e36a3ac.92f97c",
        "type": "inject",
        "z": "c00c57b0.49c178",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 108.00001525878906,
        "y": 1211.0000882148743,
        "wires": [
            [
                "22d5f45c.ab6a6c"
            ]
        ]
    },
    {
        "id": "feec7813.8367a8",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Modbus Slave sim device",
        "info": "",
        "x": 136.70002555847168,
        "y": 1168.00009059906,
        "wires": []
    },
    {
        "id": "870c4c50.2682f",
        "type": "ui_chart",
        "z": "c00c57b0.49c178",
        "name": "Bar Chart",
        "group": "37f2bf1d.9fcc8",
        "order": 3,
        "width": "2",
        "height": "4",
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "240",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 487.7000961303711,
        "y": 126.6000247001648,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9fcc0fcc.b8427",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "37f2bf1d.9fcc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tank 1 Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 496.7000961303711,
        "y": 92.3999514579773,
        "wires": []
    },
    {
        "id": "f0713fd1.726ee",
        "type": "ui_chart",
        "z": "c00c57b0.49c178",
        "name": "Trend",
        "group": "e681e311.63f54",
        "order": 2,
        "width": "3",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "240",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 477.7000961303711,
        "y": 272.8666033744812,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "33abe8b8.fa3298",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "e681e311.63f54",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tank 2 Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 495.7000961303711,
        "y": 205.6665301322937,
        "wires": []
    },
    {
        "id": "ba92b6f2.d56e38",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "9a98fb2.abcce08",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 483.03351974487305,
        "y": 655.3998847007751,
        "wires": []
    },
    {
        "id": "1628dd3f.0d66a3",
        "type": "ui_switch",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Run",
        "group": "9a98fb2.abcce08",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 651.2332077026367,
        "y": 379.8333697319031,
        "wires": [
            [
                "6b099797.6f9048"
            ]
        ]
    },
    {
        "id": "efc94486.f728d8",
        "type": "debug",
        "z": "c00c57b0.49c178",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1108.9491653442383,
        "y": 512.7337145805359,
        "wires": []
    },
    {
        "id": "1ae4efc6.ef307",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "pump 1 simulator",
        "func": "//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tankLevel = global.get(\"tank1Level\");\nvar pumpStatus = global.get(\"pump1Status\");\nvar pump2Status = global.get(\"pump2Status\");\n\n\nif (pumpStatus === true && tankLevel < 240)\n{\n    if (pump2Status === true) \n    {\n        tankLevel = tankLevel + 1; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg\n    }\n    else\n    {\n        tankLevel = tankLevel + 6; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg\n    }\n}   \nelse if (pumpStatus === false && tankLevel > 4)\n{\n    if (pump2Status === true) \n    {\n        tankLevel = tankLevel + -6; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg \n    }\n    else\n    {\n        tankLevel = tankLevel + -2; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg \n    }\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 274.06658935546875,
        "y": 1049.333279132843,
        "wires": [
            [
                "39f59f4d.5c1eb"
            ]
        ]
    },
    {
        "id": "25324ba1.1a0294",
        "type": "inject",
        "z": "c00c57b0.49c178",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 97.23329162597656,
        "y": 1064.9999051094055,
        "wires": [
            [
                "1ae4efc6.ef307",
                "d967da06.6f6388"
            ]
        ]
    },
    {
        "id": "a1ef833c.d081f",
        "type": "ui_switch",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Mode",
        "group": "9a98fb2.abcce08",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 650.3998641967773,
        "y": 342.3334307670593,
        "wires": [
            [
                "4f7a6daa.c87d14"
            ]
        ]
    },
    {
        "id": "f1784cd8.18c59",
        "type": "modbus-flex-write",
        "z": "c00c57b0.49c178",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "59d65086.534e8",
        "x": 1094.2332229614258,
        "y": 469.3335680961609,
        "wires": [
            [],
            [
                "efc94486.f728d8"
            ]
        ]
    },
    {
        "id": "6b099797.6f9048",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Coil 2",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 2,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 780.2332382202148,
        "y": 380.0001788139343,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "4f7a6daa.c87d14",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Coil 1",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 1,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 780.3998641967773,
        "y": 342.3334918022156,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "b2b2172d.d14c58",
        "type": "ui_switch",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Run",
        "group": "9b967ce.194088",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 647.3998489379883,
        "y": 542.6669268608093,
        "wires": [
            [
                "a21d5643.a204e8"
            ]
        ]
    },
    {
        "id": "310d119a.591e8e",
        "type": "ui_switch",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Mode",
        "group": "9b967ce.194088",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 646.5665054321289,
        "y": 505.1669878959656,
        "wires": [
            [
                "fac1bed3.a89f9"
            ]
        ]
    },
    {
        "id": "a21d5643.a204e8",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Coil 3",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 4,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 777.3998794555664,
        "y": 542.8337359428406,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "fac1bed3.a89f9",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Coil 3",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 3,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 776.5665054321289,
        "y": 505.1671099662781,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "15f5e29b.3c56cd",
        "type": "modbus-read",
        "z": "c00c57b0.49c178",
        "name": "Read Coils",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "6",
        "rate": "500",
        "rateUnit": "ms",
        "server": "59d65086.534e8",
        "x": 106.73336791992188,
        "y": 549.3333878517151,
        "wires": [
            [],
            [
                "872f34d0.af0ec8"
            ]
        ]
    },
    {
        "id": "872f34d0.af0ec8",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": " Decode array",
        "func": "// get the modbus values from the array\npump1Mode = msg.payload.data[0]\npump1Status = msg.payload.data[1]\npump2Mode = msg.payload.data[2]\npump2Status = msg.payload.data[3]\n\n//set global context variables for the simulator\nglobal.set(\"pump1Mode\",pump1Mode);\nglobal.set(\"pump1Status\",pump1Status);\nglobal.set(\"pump2Mode\",pump2Mode);\nglobal.set(\"pump2Status\",pump2Status);\n\n//Set up text for the statuses\nif (pump1Mode)\n    {\n    p1MText = 'Auto';\n    }\nelse\n    {\n    p1MText = 'Manual';\n    }\n    \nif (pump1Status)\n    {\n    p1SText = 'Running';\n    }\nelse\n    {\n    p1SText = 'Stopped';\n    }\n    \nif (pump2Mode)\n    {\n    p2MText = 'Auto';\n    }\nelse\n    {\n    p2MText = 'Manual';\n    }\n    \nif (pump2Status)\n    {\n    p2SText = 'Running';\n    }\nelse\n    {\n    p2SText = 'Stopped';\n    }\n    \n//set up the outgoing messages\nvar msg1 = { payload:p1MText};\nvar msg2 = { payload:p1SText};\nvar msg3 = { payload:p2MText};\nvar msg4 = { payload:p2SText};\nvar msg5 = { payload:pump1Mode};\nvar msg6 = { payload:pump1Status};\nvar msg7 = { payload:pump2Mode};\nvar msg8 = { payload:pump2Status};\n\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8 ];\n",
        "outputs": "8",
        "noerr": 0,
        "x": 151.52020263671875,
        "y": 659.1174921989441,
        "wires": [
            [
                "ba92b6f2.d56e38"
            ],
            [
                "887ff443.acaa28"
            ],
            [
                "2eca0178.f272ee"
            ],
            [
                "e034352.5fc6dc8"
            ],
            [
                "a1ef833c.d081f"
            ],
            [
                "1628dd3f.0d66a3"
            ],
            [
                "310d119a.591e8e"
            ],
            [
                "b2b2172d.d14c58"
            ]
        ]
    },
    {
        "id": "2eca0178.f272ee",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "9b967ce.194088",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 481.4001579284668,
        "y": 728.9999823570251,
        "wires": []
    },
    {
        "id": "887ff443.acaa28",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "9a98fb2.abcce08",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 482.4001579284668,
        "y": 691.9999823570251,
        "wires": []
    },
    {
        "id": "e034352.5fc6dc8",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "9b967ce.194088",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 482.4001579284668,
        "y": 766.9999823570251,
        "wires": []
    },
    {
        "id": "50b567ae.427198",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Level Simulator",
        "info": "",
        "x": 121.2332763671875,
        "y": 1011.9999661445618,
        "wires": []
    },
    {
        "id": "cf0bbd23.ac616",
        "type": "debug",
        "z": "c00c57b0.49c178",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 914.0666694641113,
        "y": 1016.6666312217712,
        "wires": []
    },
    {
        "id": "39f59f4d.5c1eb",
        "type": "modbus-flex-write",
        "z": "c00c57b0.49c178",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "server": "59d65086.534e8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 706.3507614135742,
        "y": 1010.2664847373962,
        "wires": [
            [],
            [
                "cf0bbd23.ac616"
            ]
        ]
    },
    {
        "id": "5d6d1e7.4b3b1e",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "pump 2 simulator",
        "func": "//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tank1Level = global.get(\"tank1Level\");\nvar tankLevel = global.get(\"tank2Level\");\nvar pumpStatus = global.get(\"pump2Status\");\n\n\nif (pumpStatus === true && tankLevel < 240 && tank1Level > 3)\n{\n    tankLevel = tankLevel + 6; \n    msg.payload = { value: tankLevel, \n    'fc': 6,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg \n}   \nelse if (pumpStatus === false && tankLevel > 0)\n{\n    tankLevel = tankLevel + -2; \n    msg.payload = { value: tankLevel, \n    'fc': 6,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg \n}",
        "outputs": "1",
        "noerr": 0,
        "x": 448.0666046142578,
        "y": 1088.3331265449524,
        "wires": [
            [
                "39f59f4d.5c1eb"
            ]
        ]
    },
    {
        "id": "571b66d7.195168",
        "type": "ui_chart",
        "z": "c00c57b0.49c178",
        "name": "Trend",
        "group": "37f2bf1d.9fcc8",
        "order": 2,
        "width": "3",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "240",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 479.06673431396484,
        "y": 160.3333010673523,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "316ddcc8.0f1724",
        "type": "ui_chart",
        "z": "c00c57b0.49c178",
        "name": "Bar Chart",
        "group": "e681e311.63f54",
        "order": 3,
        "width": "2",
        "height": "4",
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "240",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 487.06673431396484,
        "y": 239.33330869674683,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "88f5cfdd.7d982",
        "type": "ui_numeric",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Start Setpoint",
        "group": "9a98fb2.abcce08",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": "0",
        "max": "230",
        "step": 1,
        "x": 681.2332382202148,
        "y": 414.6666522026062,
        "wires": [
            [
                "c4a76563.e06eb8"
            ]
        ]
    },
    {
        "id": "a568f68.932a908",
        "type": "ui_numeric",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Stop Setpoint",
        "group": "9a98fb2.abcce08",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": "10",
        "max": "240",
        "step": 1,
        "x": 682.0665664672852,
        "y": 451.0000262260437,
        "wires": [
            [
                "99d9595b.b86438"
            ]
        ]
    },
    {
        "id": "85a2ec0e.7e38d",
        "type": "ui_numeric",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Start Setpoint",
        "group": "9b967ce.194088",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": "0",
        "max": "230",
        "step": 1,
        "x": 676.0665664672852,
        "y": 579.333339214325,
        "wires": [
            [
                "44460433.2be71c"
            ]
        ]
    },
    {
        "id": "f0d738fe.556158",
        "type": "ui_numeric",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Stop Setpoint",
        "group": "9b967ce.194088",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": "10",
        "max": "240",
        "step": 1,
        "x": 676.8998794555664,
        "y": 615.6666522026062,
        "wires": [
            [
                "9e05d687.97c488"
            ]
        ]
    },
    {
        "id": "c4a76563.e06eb8",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Hld 3",
        "func": "msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 3,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 829.0665512084961,
        "y": 415.3333697319031,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "99d9595b.b86438",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Hld 4",
        "func": "msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 4,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 830.0665512084961,
        "y": 451.33333921432495,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "44460433.2be71c",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Hld 5",
        "func": "msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 5,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 826.0665512084961,
        "y": 579.333339214325,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "9e05d687.97c488",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Hld 6",
        "func": "msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 6,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 827.0665512084961,
        "y": 615.3333086967468,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "d967da06.6f6388",
        "type": "delay",
        "z": "c00c57b0.49c178",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 254.23326110839844,
        "y": 1088.9998440742493,
        "wires": [
            [
                "5d6d1e7.4b3b1e"
            ]
        ]
    },
    {
        "id": "e0979550.0adcf8",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Automatic Logic",
        "info": "",
        "x": 682.0666580200195,
        "y": 697.3332018852234,
        "wires": []
    },
    {
        "id": "626f1cb7.dc2f54",
        "type": "inject",
        "z": "c00c57b0.49c178",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 649.0666580200195,
        "y": 748.3330798149109,
        "wires": [
            [
                "3976f977.e2ecd6",
                "d49a791f.32c838"
            ]
        ]
    },
    {
        "id": "3976f977.e2ecd6",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "pump 1 auto",
        "func": "//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tankLevel = global.get(\"tank1Level\");\nvar pumpMode = global.get(\"pump1Mode\");\nvar pumpStatus = global.get(\"pump1Status\");\nvar tankStart = global.get(\"tank1Start\");\nvar tankStop = global.get(\"tank1Stop\");\n\nif (pumpMode === true && pumpStatus === false && tankLevel <= tankStart)\n{\n    msg.payload = { value: true, \n    'fc': 5,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg\n}\nelse if (pumpMode === true && pumpStatus === true && tankLevel >= tankStop)\n{\n    msg.payload = { value: false, \n    'fc': 5,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 817.0666580200195,
        "y": 730.3330187797546,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "d49a791f.32c838",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "pump 2 auto",
        "func": "//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tankLevel = global.get(\"tank2Level\");\nvar pumpMode = global.get(\"pump2Mode\");\nvar pumpStatus = global.get(\"pump2Status\");\nvar tankStart = global.get(\"tank2Start\");\nvar tankStop = global.get(\"tank2Stop\");\n\n\nif (pumpMode === true && pumpStatus === false && tankLevel <= tankStart)\n{\n    msg.payload = { value: true, \n    'fc': 5,\n    'unitid': 1, \n    'address': 4,\n    'quantity': 1 } \n    return msg\n}\nelse if (pumpMode === true && pumpStatus === true && tankLevel >= tankStop)\n{\n    msg.payload = { value: false, \n    'fc': 5,\n    'unitid': 1, \n    'address': 4,\n    'quantity': 1 } \n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 818.0666580200195,
        "y": 765.6665148735046,
        "wires": [
            [
                "f1784cd8.18c59"
            ]
        ]
    },
    {
        "id": "1a3393f0.a496ec",
        "type": "inject",
        "z": "c00c57b0.49c178",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 97.23335266113281,
        "y": 907.6667141914368,
        "wires": [
            [
                "9396d3.93d1c93",
                "2047e53f.5bcfda"
            ]
        ]
    },
    {
        "id": "73ea037b.1333ac",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Startup Values",
        "func": "msg.payload = { value:[false, false, false, false], \n'fc': 15, \n'unitid': 1, \n'address': 0, \n'quantity': 4 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 438.066650390625,
        "y": 908.3334012031555,
        "wires": [
            [
                "39f59f4d.5c1eb"
            ]
        ]
    },
    {
        "id": "9396d3.93d1c93",
        "type": "delay",
        "z": "c00c57b0.49c178",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 256.23333740234375,
        "y": 908.0000882148743,
        "wires": [
            [
                "73ea037b.1333ac"
            ]
        ]
    },
    {
        "id": "bfea2799.672ce8",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "Startup Values",
        "func": "msg.payload = { value:[180,180,150,200,150,200], \n'fc': 16, \n'unitid': 1, \n'address': 1, \n'quantity': 6 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 438.066650390625,
        "y": 944.3334012031555,
        "wires": [
            [
                "39f59f4d.5c1eb"
            ]
        ]
    },
    {
        "id": "2047e53f.5bcfda",
        "type": "delay",
        "z": "c00c57b0.49c178",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 256.23333740234375,
        "y": 944.0000882148743,
        "wires": [
            [
                "bfea2799.672ce8"
            ]
        ]
    },
    {
        "id": "7486efd6.e23e6",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Read Me for Register Info",
        "info": "Coils\n1 Pump 1 Mode\n2 pump 1 Run Status\n3 Pump 2 Mode\n4 Pump 2 Run Status\n\nHolding Registers\n40001 Tank 1 Level\n40002 Tank 1 Start Setpoint\n40003 Tank 1 Stop Setpoint\n40004 Tank 2 Level\n40005 Tank 2 Start Setpoint\n40006 Tank 2 Stop Setpoint\n",
        "x": 139.61669921875,
        "y": 188.88336181640625,
        "wires": []
    },
    {
        "id": "f481b140.8ca1f",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Modbus read, write and dashboard icons",
        "info": "\n",
        "x": 191.90003967285156,
        "y": 151.16668701171875,
        "wires": []
    },
    {
        "id": "7248f1e5.2d95a",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Startup Sim Values",
        "info": "",
        "x": 129.00001525878906,
        "y": 874.5334134101868,
        "wires": []
    },
    {
        "id": "bbdd147a.6c5228",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "37f2bf1d.9fcc8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tank 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 912.2335243225098,
        "y": 107.50007772445679,
        "wires": []
    },
    {
        "id": "161705bf.eef27a",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "notification",
        "func": "lvl = msg.payload\nmsg.topic = 'Tank 1 Alarm';\nvar tank1Alarm = global.get(\"tank1Alarm\");\nvar tank1Start = global.get(\"tank1Start\");\nvar tank1Stop = global.get(\"tank1Stop\");\n    \nif (lvl > (tank1Stop + 15))\n{\n    msg.payload = 'Tank 1 Level High Alarm';\n}\nelse if (lvl < (tank1Start - 15))\n{\n    msg.payload = 'Tank 1 Level Low Alarm'; \n}\nelse\n{\n      msg.payload = 'Tank 1 Alarm Clear';  \n}\n\nif (msg.payload != tank1Alarm)\n{\n    global.set(\"tank1Alarm\",msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 738.4834632873535,
        "y": 107.96669149398804,
        "wires": [
            [
                "bbdd147a.6c5228",
                "62c16b66.fa9ae4"
            ]
        ]
    },
    {
        "id": "64413d93.b2b424",
        "type": "ui_audio",
        "z": "c00c57b0.49c178",
        "name": "",
        "group": "75eddeec.847f5",
        "voice": "1",
        "always": "",
        "x": 1056.7336349487305,
        "y": 70.16670513153076,
        "wires": []
    },
    {
        "id": "dd8d1f5f.d8af6",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "e681e311.63f54",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tank 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 912.7334823608398,
        "y": 140.56671667099,
        "wires": []
    },
    {
        "id": "86cd3e7e.7bb38",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "notification",
        "func": "lvl = msg.payload\nmsg.topic = 'Tank 2 Alarm';\nvar tank2Alarm = global.get(\"tank2Alarm\");\nvar tank2Start = global.get(\"tank2Start\");\nvar tank2Stop = global.get(\"tank2Stop\");\n    \nif (lvl > (tank2Stop + 15))    \n{\n    msg.payload = 'Tank 2 Level High Alarm';\n}\nelse if (lvl < (tank2Start - 15))\n{\n    msg.payload = 'Tank 2 Level Low Alarm'; \n}\nelse\n{\n      msg.payload = 'Tank 2 Alarm Clear';  \n}\n\nif (msg.payload != tank2Alarm)\n{\n    global.set(\"tank2Alarm\",msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 736.9834213256836,
        "y": 141.03333044052124,
        "wires": [
            [
                "dd8d1f5f.d8af6",
                "62c16b66.fa9ae4"
            ]
        ]
    },
    {
        "id": "fdb11d4d.e472b",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "37f2bf1d.9fcc8",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Low Setpt",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 921.2335548400879,
        "y": 174.00011587142944,
        "wires": []
    },
    {
        "id": "619a8036.6ba28",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "37f2bf1d.9fcc8",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "High Stpt",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 920.4002723693848,
        "y": 208.00011110305786,
        "wires": []
    },
    {
        "id": "24f11172.9092ee",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "e681e311.63f54",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Low Stpt",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 918.7335662841797,
        "y": 242.00008726119995,
        "wires": []
    },
    {
        "id": "fc33f372.b44d2",
        "type": "ui_text",
        "z": "c00c57b0.49c178",
        "group": "e681e311.63f54",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "High Stpt",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "x": 917.9001617431641,
        "y": 276.00004529953003,
        "wires": []
    },
    {
        "id": "2f8825ef.65cf3a",
        "type": "comment",
        "z": "c00c57b0.49c178",
        "name": "Alarming",
        "info": "\n",
        "x": 692.7336044311523,
        "y": 49.00003623962402,
        "wires": []
    },
    {
        "id": "f7aa8248.2acf8",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "",
        "func": "\nif (msg.payload == 1)\n{\n    global.set(\"enable\", 1);\n   // return msg;\n}\nelse\n{\n    global.set(\"enable\", 0);     \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1047.0000762939453,
        "y": 31.999988555908203,
        "wires": [
            []
        ]
    },
    {
        "id": "26452ffd.a983b",
        "type": "ui_switch",
        "z": "c00c57b0.49c178",
        "name": "",
        "label": "Enable Audio TTS",
        "group": "75eddeec.847f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "EnableBtn",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 887.0001373291016,
        "y": 32.097190856933594,
        "wires": [
            [
                "f7aa8248.2acf8"
            ]
        ]
    },
    {
        "id": "62c16b66.fa9ae4",
        "type": "function",
        "z": "c00c57b0.49c178",
        "name": "",
        "func": "var enable = global.get(\"enable\");\n\nif (enable == 1)\n{\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 924.9999847412109,
        "y": 70.00001239776611,
        "wires": [
            [
                "64413d93.b2b424"
            ]
        ]
    },
    {
        "id": "59d65086.534e8",
        "type": "modbus-client",
        "name": "local",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "37f2bf1d.9fcc8",
        "type": "ui_group",
        "name": "Tank 1",
        "tab": "1570b2d3.32facd",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e681e311.63f54",
        "type": "ui_group",
        "name": "Tank 2",
        "tab": "1570b2d3.32facd",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9a98fb2.abcce08",
        "type": "ui_group",
        "name": "Water Well",
        "tab": "1570b2d3.32facd",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9b967ce.194088",
        "type": "ui_group",
        "name": "Transfer Pump",
        "tab": "1570b2d3.32facd",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "75eddeec.847f5",
        "type": "ui_group",
        "name": "Alarming",
        "tab": "1570b2d3.32facd",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1570b2d3.32facd",
        "type": "ui_tab",
        "name": "Water Utility",
        "icon": "dashboard"
    }
]